body {
    padding-top: 95px;
    color: #67768e;
}

.navbar.fixed-navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #FFFFFF;
    min-height: 85px;
    border-bottom-width: 2px;
    border-bottom-color: #c3c3c3;
    border-bottom-style: solid;
}

.category-title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    color: #333;
}

.category-link {
    color: #ed4f2a;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
}

.pagination {
    justify-content: center;
}

.secondary-title {
    font-size: 20px;
    color: #525252;
    margin-right: 10px;
    margin-bottom: 12px;
}

.img-orange-border{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eb4d2c;
}

.product-description {
    color: #333333;
}
