:root {
    --main-color: #aaf600;
}

body {
    padding-top: 95px;
    color: #67768e;
}

.navbar.fixed-navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #FFFFFF;
    min-height: 85px;
    border-bottom-width: 2px;
    border-bottom-color: #c3c3c3;
    border-bottom-style: solid;
    z-index: 9;
}

.category-title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    color: #333;
}

.category-link {
    color: #ed4f2a;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
}

.pagination {
    justify-content: center;
}

.secondary-title {
    font-size: 20px;
    color: #525252;
    margin-right: 10px;
    margin-bottom: 12px;
}


.img-orange-border{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eb4d2c;
}

.product-description {
    color: #333333;
}


/* search bar */

.search-container {
    position: relative;
}

.search-input {
    height: 50px;
    border-radius: 30px;
    padding-left: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #dadada;
    color: #0a0a0a;
    border: 1px solid;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #0a0a0a;
}



/* product card */

.top-card{
    background-color: gray;
    padding: 5px 11px;
    border: 1px solid #fff;
    border-radius: 14px 14px 0px 0px;
    color: #fff !important;
    text-align: center;
    font-weight: bold;
}

.product-title {
    font-size: 18px !important;
    font-weight: bold;
}

.product-price {
    font-size: 16px !important;
    color: red;
    font-weight: bold;
}

.card.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f8f8f8;
    background-clip: border-box;
    border: 2px solid #00432447;
    border-radius: 14px;
    box-shadow: 3px 2px 10px 1px #adadad;
    transition: all .2s ease-in-out;
}

.card.product-card:hover {
    box-shadow: none;
}

/* footer */

.copyright {
    background-color: var(--main-color);
    color: #2c2b29 !important;
    padding: 3px;
}

.bg-dark {
    background-color: #2c2b29;
}

.quick-links{
    color: #fff !important;
    font-size: 16px !important;
    font-weight: bold;
    text-decoration: none !important;
    text-align: center !important;
}

.quick-links:hover, .quick-links.active {
    color: var(--main-color) !important;
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 14px;
}

/* product page */

.title-des{
    line-height: 1.3em;
    font-weight: 600;
    color: #6d6a6a;
    font-family: Tajawal !important;
    font-size: 48px !important;

}

.stock-cont {
    color: #fff;
    font-size: 29px;
    font-weight: 700;
    padding-bottom: 2px;
    background-color: var(--main-color);
    width: 100%;
    border-radius: 7px;
}

.time-label {
    font-size: 17px;
    font-weight: 700;
    color: #000;
    margin-top: 6px;
}

.text-count {
    font-size: 19px;
    font-weight: 700;
    padding: 0;
    margin: 0 5px;
    color: #1e293b;
}

.shadow-1 {
    box-shadow: 0 0 5px 0 gray;
}


/* contact page */

.contact-title-sec{
    
    font-size: 18px;
    font-weight: bold;
}

.contact-title{
    line-height: 55px;
    font-size: 22px;
}

.dark-color{
    color: #343a40;
}
.red-color{
    color: red;
}

.btn-form{
    width: 100%;
    font-weight: bold;
}

.form-group{
    background: #c6c7c8e8;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid gray;
}

/* return page */

.return-title{
    font-size: 18px;
    line-height: 40px;
}